      <footer class="page-footer">
        <div class="container">
<<<<<<< HEAD
          <div class="social-icons">
          <% for (var socialItem in theme.footer_icons){ %>
              <a href="<%= theme.footer_icons[socialItem].url%>" title="<%=socialItem%>" target="_blank" rel="noopener" class="<%=theme.footer_icons[socialItem].class%>"></a>
          <% } %>
          </div>
=======
        	© 2018 kfXiaochengxu | Powerd by Hexo.io
         <!--  <div class="social-icons">
          <% for (var socialItem in theme.footer_icons){ %>
              <a href="<%= theme.footer_icons[socialItem].url%>" title="<%=socialItem%>" target="_blank" rel="noopener" class="<%=theme.footer_icons[socialItem].class%>"></a>
          <% } %>
          </div> -->
>>>>>>> c07f0cc8fbbebeb210328fdc9baf99530a701dd1
        </div>
      </footer>